
.content-list{
  margin: 10px 0;
}

.content-list-div{
  margin-top: 25px;
}

.content-table{
    margin-bottom: 20px;
  }

  ol{
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 20px;
  }
    