.maps-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 120px 0;
  }
.age-graph-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 60px 0;
  }
  .map-container{
    max-width:460px;
    margin:0 30px;
    min-width: 380px;
  }